# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Node.js
**/node_modules/
**/dist/

# Flutter
**/.dart_tool/
**/build/

# Android
**/.gradle/
**/local.properties

# iOS
**/Pods/